doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Borzoi API Documentation - 404

  body
    h1 404
    a(href="/") Home